<li id="item-<%= id %>" class="<%= size %>"><div class="frame">

<map>
  <dynamic-layer url="http://srvgists006.lugano.ch:6080/arcgis/rest/services/Basemap/BaseMapDyn/MapServer"></dynamic-layer>
  <feature-layer url="http://srvgists006.lugano.ch:6080/arcgis/rest/services/Basemap/Quartieri/FeatureServer/0"></feature-layer>
</map>
</div></li>
