.widget-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.widget-list li {
    margin: 0;
    padding: 0;
    height: 412px;
    text-align: left;
    float: left;

}

.widget-list .frame{
    margin: 5px;
    padding: 0;
    height: 402px;
    border: 1px solid #e5e5e5;
}


